body {
  background-color: #363636;
}

label {
  font-size: 30px;
  padding-right: 20px;
  color: white;
}

input {
  font-size: 20px;
}

button {
  font-size: 20px;
  background-color: #FFBB00;
  border-radius: 10%;
  padding: 10px 20px;
}

button:hover {
  background-color: #be8c00;
  cursor: pointer;
}

.timer {
  font-size: 200px;
  text-align: center;
  color: white;
}

.input-container {
  margin: 20px;
}

.align-inputs {
  display: flex;
  justify-content: center;
}

.align-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn {
  text-align: center;
}